:root {
    --main-bg: #282828;
    --main-fg: #ebdbb2;
    --main-fg-20: #ebdbb266;
    --main-fg-40: #ebdbb2dd;
    --main-primary: #fe8019;
    --main-primary-20: #fe801966;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--main-bg);
    color: var(--main-fg);
    line-height: 1.35;
}

.content {
    width: 100%;
    max-width: 960px;
    margin: 2rem 1rem;
}

.title {
    font-size: 2.986rem;
    color: var(--main-primary);
    font-weight: bold;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    opacity: .5;
}

.subtitle-2 {
    font-size: 1.44rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-weight: bold;
}

.class-date {
    opacity: .35;
}

a, a:visited {
    color: var(--main-fg);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin-left: 1rem;
}

li {
    margin-bottom: .5rem;
}

li::marker {
    opacity: 0.6;
}
