.md h1 {
    font-size: 2.986rem;
    color: var(--main-primary);
    font-weight: bold;
}

.md h2 {
    font-size: 2.074rem;
    margin: 0.8em 0 0.4em 0;
    border-bottom: 2px solid var(--main-primary-20);
}

.md .subtitle {
    margin-bottom: 2rem;
}

.md a, .md a:visited {
    text-decoration: underline;
    text-decoration-color: var(--main-fg-20);
}
