---
eleventyExcludeFromCollections: ["arq-organizacao-computadores"]
layout: disciplina.njk
name: Arquitetura e Organização de Computadores
collection: arq-organizacao-computadores
tags: disciplina
semestre: 2025-2
periodo: 2
---
